.epicodus{
  color: #600b3b;
  font-size: 28px;
}

.panel-default{
margin-top: 35px;
}
.panel-title{
  font-size: 32px;
}
.well{
  font-size: 30px;
  font-weight: 60%;
}
.btn-link{
  font-size: 23px;
  font
}
#ruby{
  display: none;
}
#php{
  display: none;
}
#java{
  display: none;
}
#css{
  display: none;
}
#c-sharp{
  display: none;
}
#web_radio{
  font-size: 19px;
}
#mobil_radio{
  font-size: 19px;
}
#graphic_radio{
  font-size: 19px;
}
#java_radio{
  font-size: 19px;
}
#php_lang_radio{
  font-size: 19px;
}
#scharp_lang_radio{
  font-size: 19px;
}
#backend_radio{
  font-size: 19px;
}
#frontend_radio{
  font-size: 19px;
}
#ruby_lang_radio{
  font-size: 19px;
}
#first_last_name{
  ont-size: 19px;
}
