.epicodus{
  color: #600b3b;
  font-size: 28px;
  margin-bottom: 40px;
}
.panel-default{
margin-top: 35px;
}
.panel-title{
  font-size: 32px;
}
.well{
  font-size: 30px;
  font-weight: 60%;
}
#web_radio{
  font-size: 19px;
}
#mobil_radio{
  font-size: 19px;
}
#graphic_radio{
  font-size: 19px;
}
#java_radio{
  font-size: 19px;
}
#php_lang_radio{
  font-size: 19px;
}
#scharp_lang_radio{
  font-size: 19px;
}
#backend_radio{
  font-size: 19px;
}
#frontend_radio{
  font-size: 19px;
}
#ruby_lang_radio{
  font-size: 19px;
}
#first_last_name{
  ont-size: 19px;
}
.ruby_description{
  display: none;
}
.php_description{
  display: none;
}
.java_description{
  display: none;
}
.csharp_description{
  display: none;
}
.css_description{
  display: none;
}
#submit_button{
  margin-top: 32px;
  font-size: 28px;
  margin-bottom: 200px;
  width: 12%;
  border-color: darkblue;
}
.panel-default{
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.panel-heading{
  border-radius: 10px;
}
.well{
  border-radius: 10px;
}
#submit_button{
  font-size: 22px;
  border-radius: 10px;
  width: 11%;
  border-color: darkblue;
  margin-left: 1px;
  }
}
#app_types{
  margin-top: 50px;
  margin-bottom: 25px;
}
#program_lang{
  margin-top: 50px;
  margin-bottom: 25px;
}
#logic_choice{
  margin-top: 50px;
  margin-bottom: 25px;
}
#address{
  border-radius: 10px;
}
.about{
  font-size: 19px;
  margin-bottom: 20px;
}
.btn-primary{
  font-size: 18px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
}
.output{
  display: none;
}
.col-md-3{
  margin-left: 40px;
}
.col-md-5{
  margin-left: 50px;
  font-size: 19px;
  width: 60%;
}
.btn { width: 80%; margin-left: 10%; }
#person1{
  border-radius: 10px;
  width: 105%;
}
#person2{
  border-radius: 10px;
  width: 118%;
}
.col-md-3{
  margin-left: 3px;
}
#app_types{
  margin-top: 50px;
  margin-bottom: 25px;
}
#intro_types{
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 19px;
}
#yes_radio{
  font-size: 19px;
}
#no_radio{
  font-size: 19px;
}
