.epicodus{
  color: #600b3b;
  font-size: 28px;
}

.panel-default{
margin-top: 35px;
}
.panel-title{
  font-size: 32px;
}
.well{
  font-size: 30px;
  font-weight: 60%;
}
.btn-link{
  font-size: 23px;
  font
}
#ruby{
  display: none;
}
#php{
  display: none;
}
#java{
  display: none;
}
#css{
  display: none;
}
#c-sharp{
  display: none;
}
